<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">
    <test name="test1">
        <classes>
            <class name="com.example.springbootTest.testNg.group.TestGroup2" />
            <class name="com.example.springbootTest.testNg.group.TestGroup" />
        </classes>
    </test>
    <test name="test2">
        <!-- 指定运行分组-->
        <groups>
            <run>
                <include name="groups2" />
            </run>
        </groups>
        <classes>
            <class name="com.example.springbootTest.testNg.group.TestGroup2" />
            <class name="com.example.springbootTest.testNg.group.TestGroup" />
        </classes>
    </test>
</suite>