<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>文件上传测试</title>
    <link href="static/css/bootstrap.min_3.3.7.css" rel="stylesheet">
    <link href="static/css/bootstrap.min_3.3.7.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/easy-upload.css">
    <script type="text/javascript" src="static/js/jquery-1.12.4.min.js"></script>
    <script src="static/js/jquery.cookie-1.4.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/upload.js"></script>
</head>
<body>
  <h1>文件上传</h1>
  <div  class="form-group">
      <label style="line-height: 40px" class="col-sm-1 control-label">附件：</label>
      <div class="col-sm-3">
          <div id="easyContainer"></div>
      </div>
  </div>
</body>
<script>
    $('#easyContainer').easyUpload({
        allowFileSize: 100000,//允许上传文件大小(KB)
        selectText: '选择文件',//选择文件按钮文案
        multi: true,//是否允许多文件上传
        multiNum: 5,//多文件上传时允许的文件数
        showNote: true,//是否展示文件上传说明
        note: '&nbsp&nbsp&nbsp&nbsp&nbsp',//文件上传说明
        showPreview: true,//是否显示文件预览
        url: '/javatest/lss_sso_server/uploadFile',//上传文件地址
        fileName: 'file',//文件filename配置参数
        formParam: {
            token: $.cookie('token_cookie')//不需要验证token时可以去掉
        },//文件filename以外的配置参数，格式：{key1:value1,key2:value2}
        timeout: 30000,//请求超时时间
        okCode: 200,//与后端返回数据code值一致时执行成功回调，不配置默认200
//        initfileArrList: filename,
        successFunc: function(res) {
                  console.log('上传图片文件名:', res.success.stringDate);
        },//上传成功回调函数
        upLoadFiles: function(res,res1) {
//            console.log("已上传的文件:"+fileName);
//            console.log("已上传的名称:"+fileOriName);
        },
        errorFunc: function(res) {
                  console.log('失败回调', res);
        },//上传失败回调函数
        deleteFunc: function(res) {
                  console.log('删除回调', res);
        }//删除文件回调函数
    });
</script>
</html>